<footer class="bg-secondary pb-3 pt-3">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 text-left align-middle py-3 px-5">
            <h4 class="">Contact</h4>
            <p class="mb-0 font-weight-bold"> <span class="iconify" data-icon="ant-design:phone-filled" data-inline="false"></span> 06.21.25.44.54</p>
            <p class="pb-0 mb-0 font-weight-bold"><span class="iconify" data-icon="ant-design:mail-filled" data-inline="false"></span> julie.rebeyrolle@gmail.com</p>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 py-3 px-5 text-right">
            <h4 class="">Retrouvez moi sur</h4>
            <a href="https://www.linkedin.com/in/julie-rebeyrolle/" target="_blank" class="text-decoration-none">
                <span class="iconify home-icons size-sm px-2" data-icon="akar-icons:linkedin-fill" data-inline="false"></span>
            </a>
            <a href="https://github.com/JulieRebeyrolle" target="_blank" class="text-decoration-none">
                <span class="iconify home-icons size-sm px-2" data-icon="akar-icons:github-fill" data-inline="false"></span>
            </a>
            <a href="https://twitter.com/ltdjul" target="_blank" class="text-decoration-none">
                <span class="iconify home-icons size-sm px-2" data-icon="akar-icons:twitter-fill" data-inline="false"></span>
            </a>
        </div>
    </div>
</footer>
