<form method="post" action="{{ path('admin_skills_delete', {'id': skill.id}) }}" onsubmit="return confirm('Vraiment');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ skill.id) }}">
    <div class="text-right mb-5">
        <button class="btn btn-danger">Effacer</button>
    </div>
</form>
