@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat:wght@300;400;500;600&family=Poiret+One&display=swap');

@import 'variables';
@import "~bootstrap/scss/bootstrap";

h1, h2 {
    font-family: $font-family-title;
}

// Navbar

.logo {
    font-family: $font-family-title;
    font-size: $font-size-logo;
}

.bg-perso {
    background-color: $secondary-transparent;
}

.nav-link {
    margin-bottom: -4px;
    font-family: $font-family-sans-serif;
    font-weight: bold;
    border-bottom: 3px solid rgba(0,0,0,0);
}

.nav-link:hover {
    border-bottom: 3px solid #212121;
}

// general CSS
.content-container {
    padding-top: 70px;
}
