/*font-family: 'Megrim', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poiret One', cursive;*/

/* surcharge Bootstrap*/


$primary: #3b4358;
$secondary: #d0826f;
$text-dark: $primary;

$grey: #dfe0e0;

$dark: #212121;
$light: #f9feff;

$border-radius: 5px;

$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-title: 'Megrim', cursive;
$enable-responsive-font-sizes: true;

/* variables texte */

$font-size-logo : 18pt;