<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Julie Rebeyrolle | Développeuse Web{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-light bg-secondary">
        <div class="d-flex flex-grow-1">
            <a class="navbar-brand logo font-weight-bold pl-3" href="/">Jr - Web</a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item">
                    <a href="#" class="nav-link px-3">À propos</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-3">CV</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-3">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-3">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-3">Contact</a>
                </li>
            </ul>
        </div>
    </nav>


        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</html>
